body {
  width: 400px;
  background-color: #f2efe5;
}

.title {
  font-size: 18px;
  font-weight: bold;
}

#copyEmail {
  transition: background-color 0.3s ease;
}

.custom-switch .form-check-input {
  cursor: pointer;
  /* 스위치 크기 조정 */
  transform: scale(1.5);
}
